<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/users/listUsers">PREGUNTAS RETO SOFKA</a>
   
    <ul class="navbar-nav mr-auto">
    <div class="collapse navbar-collapse" id="navbarNav">
      
      
      
      <li class="nav-item">
        <a class="nav-link" href="/logout">Salir del juego</a>
      </li>
      
      
    </ul>

  </div>
  </div>
</nav>