<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <h2>NIVEL 1</h2>
                    <br>
                    <form action="/users/renovarUser/{{user.id}}" method="POST">

                        <div class="form-group">
                            {{pregunta.pregunta}}
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="radio1" name="grupo1">
                            <label class="form-check-label" for="radio1">
                                Opcion 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="radio2" name="grupo1">
                            <label class="form-check-label" for="radio2">
                                Opcion 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="radio3" name="grupo1">
                            <label class="form-check-label" for="radio1">
                                Opcion 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="" id="radio3" name="grupo1">
                            <label class="form-check-label" for="radio1">
                                Opcion 3
                            </label>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>